ul.blog-type{
    list-style-type: none;
}

div.blog:not(:last-child) {
    margin-bottom: 2em;
    margin-top: 1em;
    border-bottom: 1px #ccc solid;
}
div.panel-heading {
    margin-top: 0.6em;
}
div.blog-detail {
    border-bottom: 1px #ccc solid;
}