{% extends 'base/base.html' %}
{% load staticfiles %}
{# 标题填充 #}
{% block title %}
    {{ blog.title }}
{% endblock %}

{% block nav-blog-active %}active{% endblock %}
{% block header_extends %}<link rel="stylesheet" href="{% static 'blog.css' %}">{% endblock %}
{# 内容填充 #}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>{{ blog.title }}</h4></div>
                    <div class="panel-body">
                        <div class="blog-detail">
                            <h4>
                                <span class="glyphicon glyphicon-tag"></span>
                                {{ blog.blog_type }}&nbsp;&nbsp;
                                <span class="glyphicon glyphicon-time"></span>
                                {{ blog.created_time|date:"Y-m-d" }}&nbsp;&nbsp;
                                <span class="glyphicon glyphicon-user"></span>
                                {{ blog.author }}
                            </h4>
                        </div>
                        <h4>内容:{{ blog.content }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

